dist
*classes
*.class
target/
build/
build_eclipse/
out/
.gradle/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
patch-process/*
.idea
.svn
.classpath
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
*.ipr
*.iws
.vagrant
Vagrantfile.local
/logs
.DS_Store

config/server-*
config/zookeeper-*
core/data/*
gradle/wrapper/*
gradlew
gradlew.bat

results
tests/results
.ducktape
tests/.ducktape
tests/venv
.cache

docs/generated/

.release-settings.json
data/AzPubSubConfig/Dsts-Prod.ini
config/kafka_server_jaas.conf
bin/windows/hs_err_pid23620.log
bin/windows/data/Perf/bin.java.prf
bin/autopilot.ini
libs/javax.inject-1.jar
libs/javax.annotation-api-1.2.jar
libs/javassist-3.21.0-GA.jar
libs/javassist-3.20.0-GA.jar
libs/jackson-module-jaxb-annotations-2.9.6.jar
libs/jackson-jaxrs-json-provider-2.9.6.jar
libs/jackson-jaxrs-base-2.9.6.jar
libs/jackson-databind-2.9.6.jar
libs/jackson-core-2.9.6.jar
libs/jackson-annotations-2.9.6.jar
libs/hk2-utils-2.5.0-b32.jar
libs/hk2-locator-2.5.0-b32.jar
libs/hk2-api-2.5.0-b32.jar
libs/SCPPerfCounterWrapper.dll
libs/SCPPerfCounter.dll
libs/SCPPerfCounter.APCounter.dll
libs/Newtonsoft.Json.xml
libs/Newtonsoft.Json.dll
libs/Microsoft.WindowsAzure.Security.TestUtilities.dll
libs/Microsoft.WindowsAzure.Security.CredentialsManagement.StorageHelper.dll
libs/Microsoft.WindowsAzure.Security.CredentialsManagement.SecureBlob.dll
libs/Microsoft.WindowsAzure.Security.CredentialsManagement.Client.dll
libs/Microsoft.WindowsAzure.Security.Authentication.dll
libs/Microsoft.WindowsAzure.Security.Authentication.Logging.dll
libs/Microsoft.WindowsAzure.Security.Authentication.Helpers.PassiveAuthHelper.dll
libs/Microsoft.WindowsAzure.Security.Authentication.Contracts.dll
libs/Microsoft.Search.Autopilot.dll
libs/log4j-1.2.17.jar
libs/jopt-simple-5.0.4.jar
libs/jni4net.n.w64.v40-0.8.6.0.dll
libs/jni4net.n-0.8.6.0.dll
libs/jni4net.j-0.8.6.0.jar
libs/jni4net-MIT.txt
libs/jni4net-LGPL-3.0.txt
libs/jline-0.9.94.jar
libs/jetty-util-9.2.24.v20180105.jar
libs/jetty-http-9.2.24.v20180105.jar
libs/jetty-continuation-9.2.24.v20180105.jar
libs/jetty-client-9.2.24.v20180105.jar
libs/jersey-server-2.25.1.jar
libs/jersey-media-jaxb-2.25.1.jar
libs/jersey-guava-2.25.1.jar
libs/jersey-container-servlet-core-2.25.1.jar
libs/jersey-container-servlet-2.25.1.jar
libs/jersey-common-2.25.1.jar
libs/jersey-client-2.25.1.jar
libs/jaxb-api-2.3.0.jar
libs/gson-2.8.5.jar
libs/connect-transforms-1.1.1-SNAPSHOT.jar
libs/connect-runtime-1.1.1-SNAPSHOT.jar
libs/connect-json-1.1.1-SNAPSHOT.jar
libs/connect-file-1.1.1-SNAPSHOT.jar
libs/connect-api-1.1.1-SNAPSHOT.jar
libs/commons-lang3-3.5.jar
libs/build.cmd
libs/argparse4j-0.7.0.jar
libs/aopalliance-repackaged-2.5.0-b32.jar
libs/activation-1.1.1.jar
libs/System.IdentityModel.dll
libs/SCPPerfCounterWrapper.j4n.jar
libs/SCPPerfCounterWrapper.j4n.dll
libs/javax.ws.rs-api-2.0.1.jar
libs/javax.servlet-api-3.1.0.jar
libs/javax.inject-2.5.0-b32.jar
libs/Microsoft.IdentityModel.dll
libs/DstsAuthentication.proxygen.xml
libs/DstsAuthentication.pdb
libs/DstsAuthentication.j4n.jar
libs/DstsAuthentication.j4n.dll
libs/DstsAuthentication.dll
libs/Bond.dll
libs/Bond.IO.dll
libs/Bond.Attributes.dll
libs/ApSdk4j.pdb
libs/ApSdk4j.jar
libs/ApSdk4j.dll
data/Perf/bin.java.prf
repository/ApSdk4j.pdb
libs/zookeeper-3.4.5-AUTOPILOT.jar
libs/zkclient-0.10.jar
libs/validation-api-1.1.0.Final.jar
libs/snappy-java-1.1.7.1.jar
libs/slf4j-log4j12-1.7.25.jar
libs/slf4j-api-1.7.25.jar
libs/scala-reflect-2.11.12.jar
libs/scala-logging_2.11-3.8.0.jar
libs/scala-library-2.11.12.jar
libs/rocksdbjni-5.7.3.jar
libs/reflections-0.9.11.jar
libs/pom.xml
libs/plexus-utils-3.1.0.jar
libs/osgi-resource-locator-1.0.1.jar
libs/netty-3.10.5.Final.jar
libs/metrics-core-2.2.0.jar
libs/maven-artifact-3.5.3.jar
libs/lz4-java-1.4.1.jar
libs/jetty-server-9.2.24.v20180105.jar
libs/jetty-security-9.2.24.v20180105.jar
libs/jetty-io-9.2.24.v20180105.jar
libs/jetty-servlets-9.2.24.v20180105.jar
libs/jetty-servlet-9.2.24.v20180105.jar
libs/guava-20.0.jar
data/AzPubSubConfig/Dsts-Prod.ini.flattened.ini
